@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #000;
}

.banner {
  background-image: url(./assets/pk.gif);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 50%;
  height: 20vw;
  min-height: 100px;
  background-attachment: fixed;
}

nav {
  display: flex;
  background-color: #333;
}

nav a {
  text-decoration: none;
  font-size: 20px;
  padding: 15px 20px;
  display: block;
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.8px;
  float: left;
  transition: all 0.3s ease;
}

nav a.active {
  color: orange;
}

nav a:hover {
  color: orange;
}

#align-item-right {
  margin-left: auto;
}

/* Section styling start */
.section-container {
  width: 90%;
  padding: 60px 0 30px;
  margin: 0 auto;
}

.section-container h2 {
  text-align: center;
  margin-bottom: 50px;
}

.section-container h2 span {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px 2px #333;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  padding: 10px 50px;
  border-radius: 10px;
}

.section-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  flex-basis: 32.99%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: lightgray;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
}

.item iframe {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.inner-content {
  padding: 15px 15px 20px;
}

.inner-content span {
  font-size: 18px;
  color: #008b8b;
  font-weight: 600;
  letter-spacing: 1px;
}

.inner-content p {
  font-size: 15;
  letter-spacing: 0.5px;
  margin: 10px 0 15px 0;
  line-height: 1.4;
  text-align: justify;
}

.btn {
  padding: 8px 13px;
  font-size: 15px;
  letter-spacing: 0.6px;
  background-color: #008b8b;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  background-color: #0b6161;
}
/* Section styling end */

/* Tourist Places start */
.places {
  display: flex;
  justify-content: space-between;
}

.place {
  flex-basis: 32.99%;
  position: relative;
  margin-bottom: 10px;
}

.place img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 4px;
}

.img__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
}

.img__overlay:hover {
  opacity: 1;
}

.img__overlay > * {
  transform: translateY(20px);
  transition: transform 0.3s;
}

.img__overlay:hover > * {
  transform: translateY(0);
}

.img__overlay p {
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 10px;
  text-align: center;
}
/* Tourist Places end */

/* Industries styling start */
.industry-container {
  display: flex;
  justify-content: space-between;
}

.indust-item {
  display: flex;
  justify-content: space-between;
  flex-basis: 49%;
  margin-bottom: 10px;
}

.indust-item img {
  width: 50%;
  height: auto;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.indust-item .detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ccc;
  padding: 15px;
  line-height: 1.4;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.detail span {
  font-size: 20px;
  color: #008b8b;
  letter-spacing: 1px;
  font-weight: 600;
}

.detail p {
  font-size: 14px;
  padding: 12px 0;
}
/* Industries styling end */

footer {
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  letter-spacing: 1px;
  user-select: none;
}

/* responsive code */
@media screen and (max-width: 900px) {
  .places,
  .section-items {
    flex-direction: column;
  }

  .industry-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
  }

  #align-item-right {
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .section-container h2 span {
    padding: 7px 18px;
    font-size: 16px;
  }

  .btn {
    font-size: 12px;
    padding: 6px 12px;
  }

  .img__overlay p {
    font-size: 12px;
  }

  footer {
    font-size: 12px;
  }
}
